spring:
  application:
    name: api-gateway
  profiles:
    active: dev
  config:
    import: "configserver:http://localhost:8888"

#spring:
#  application:
#    name: api-gateway
#  profiles:
#    active: prod
#  config:
#    import: "configserver:http://config-server:8888"
#    fail-fast: false
#
#server:
#  port: 5555
